* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    width: 50px;
    height: 30px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.taskItem {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskItem.reminder {
    border-left: 8px solid deepskyblue;
}
/*******************************************************/
.add-form, .form-text, .form-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
}
.add-form *{
    margin-top: 5px;
}
/*******************************************************/
#submit-btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 35px;
    margin: 20px 0 20px 0;
}
#submit-btn:hover {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
/*******************************************************/
.form-text input, .form-date input {
    height: 35px;
    padding: 5px;
}

.form-reminder {
    display: flex;
    align-items: center;
}
.form-reminder input {
    flex: 3;
    height: 20px;
}
/*******************************************************/
footer {
    text-align: center;
}